<div class="profilecontainer">
    <table cellspacing="0" cellpadding="2" border="0">
        <tr>
            <td width="1%" nowrap>Usuario: </td>            
            <td nowrap>{{ usuario.name }} &lt;{{ usuario.mail }}&gt;</td>
        </tr>        
        <tr>
            <td width="1%" nowrap>Empresa: </td>            
            <td nowrap>{{ usuario.enterprise.name }}</td>
        </tr>        
    </table>
</div>                