{% extends '::base.html.twig' %}
    
{% block body %}
    <form class="genericForm" action="{{ path('loginDo') }}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="password">Password:</label>            
            <input type="password" id="password" name="password" />
        </div>

        <div class="button">
            <button type="submit" id="submit">Login</button>
        </div>

        <div class="button">
            <button type="button" id="signup" onclick="goToSignup(); return false;">Sign up</button>
            <script type=""text/javascript">
                function goToSignup(){
                    document.location.href = '{{ url('signup') }}';
                }
            </script>
        </div>

        {% if error is defined and error.code > 0 %}
            {# codigo html con el aspecto del error > #}
            <div class="message">
                <message id="message">{{ error.message }}</message>
            </div>
        {% endif %}
    </form>
{% endblock %}